
    <div id="app" class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="#">系统管理</a></li>
            <li><a href="#">用户管理</a></li>
            <li><a href="#">编辑</a></li>
        </ol>
    </div>
    <div class="graph">
        <div class="container">
            <div class="row">
                <form class="form-horizontal col-md-offset-3 col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">登陆名称:</label>
                        <div class="col-sm-10">

                            <input type="text" class="form-control" :value="users.UserLoginName"  placeholder="客户名称">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">用户角色:</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>请选择</option>
                                <option>请选择</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">密码:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" @*v-model="RowData.BkName" *@ placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">再次确认密码:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="txtBkName" @*v-model="RowData.BkName" *@ placeholder="联系人">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">真实姓名:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" @*v-model="RowData.BkName" *@ placeholder="备注">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="butAdd" type="button" class="btn btn-default" v-on:click="EditData()">编辑</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                users: JSON.parse(document.cookie),
            },
            created: function () {
                console.log(this.users)
            }
        })
    </script>