
@{
    ViewBag.Title = "Customer";
}

<div id="app">
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="#" onclick='$("#div1").load("/basic/Index")'>基础数据</a></li>
            <li><a href="#">客户资料</a></li>

            <input style="float: right" class="btn btn-default btn-xs" type="submit" value="添加客户资料" v-on:click="ShowPage()">

        </ol>
    </div>

    <div class="graph">

        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">客户名称:</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="客户名称">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input class="btn btn-default btn-lg" type="submit" value="查询">
                    </div>
                </div>

            </form>
        </div>
        <div class="tables row">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>
                            客户编号
                        </th>
                        <th>
                            客户名称
                        </th>
                        <th>
                            公司名称
                        </th>
                        <th>
                            客户等级
                        </th>
                        <th>
                            联系人
                        </th>
                        <th>
                            备注
                        </th>
                        <th>
                            操作
                        </th>
                </thead>
                <tbody>

                    <tr v-for="(t,index) in ProductLend">
                        <td>
                            {{t.CusID}}
                        </td>
                        <td>
                            {{t.CusName}}
                        </td>
                        <td>
                            {{t.CusCompany}}
                        </td>
                        <td>{{t.CLName}}</td>
                        <td>{{t.CusMan}}</td>
                        <td>
                            客户好
                        </td>
                        <td align="center">
                            <a href="javascript:;">删除</a> | <a href="javascript:;" v-on:click="ShowPage(1)">修改</a>
                        </td>
                    </tr>
                    @*<tr>
                            <td>
                                1
                            </td>
                            <td>
                                衣服
                            </td>
                            <td>
                                娃哈哈集团
                            </td>
                            <td>高级</td>
                            <td>胡杨成</td>
                            <td>
                                客户好
                            </td>
                            <td align="center">
                                <a href="javascript:;">删除</a> | <a href="javascript:;" v-on:click="ShowPage(1)">修改</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                衣服
                            </td>
                            <td>
                                娃哈哈集团
                            </td>
                            <td>高级</td>
                            <td>胡杨成</td>
                            <td>
                                客户好
                            </td>
                            <td align="center">
                                <a href="javascript:;">删除</a> | <a href="javascript:;" v-on:click="ShowPage(1)">修改</a>
                            </td>
                        </tr>*@
                </tbody>
            </table>
            <div align="center">
                <div id="test1"></div>
                @*<nav aria-label="Page navigation"  >
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li @@click="dian(i)" v-for="i in total" >
                            <a href="#">{{i}}</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>*@
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            ProductLend: [],
            total: 0,
            ps: 3,
            pi: 1
        },
        created: function () {
            this.$http.get("http://localhost:8625/api/Basic/GetCustomers", { "params": { "ps": this.ps, "pi": this.pi } })
                .then(d => {
                    this.ProductLend = d.data.data;
                    this.total = d.data.total;
                    console.log("VUE-first");
                })
        },
        methods: {

            dian: function (ps,pi) {
                this.$http.get("http://localhost:8625/api/Basic/GetCustomers", { "params": { "ps": ps, "pi": pi } })
                    .then(d => {
                        this.ProductLend = d.data.data;
                        this.total = d.data.total;
                        console.log(ps+"---"+pi);
                    })
            }
        }
    });

    layui.use('laypage', function () {
        var laypage = layui.laypage;
        //执行一个laypage实例
        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            , count: app.total //数据总数，从服务端得到
            , limit: app.ps
            , limits: [1, 2, 3, 4, 5]
            , layout:['prev', 'page', 'next','limit','count','skip']
            , jump: function (obj, first) {
                //obj包含了当前分页的所有参数，比如：
                //console.log(obj.curr); 得到当前页，以便向服务端请求对应页的数据。
                //console.log(obj.limit); 得到每页显示的条数
                app.dian(obj.limit, obj.curr)
                //首次不执行
                if (!first) {
                    console.log("Layui-first");
                    //do something
                }
            }
        });
    });
</script>

