
@{
    ViewBag.Title = "Product";
}

<div id="app">
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="#" onclick='$("#div1").load("/basic/Index")'>基础数据</a></li>
            <li><a href="#">商品资料</a></li>

            <input style="float: right" class="btn btn-primary" type="submit" value="添加商品资料" @@click="ShowPages()">

        </ol>
    </div>

    <div class="graph">

        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">商品名称:</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="商品名称">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input class="btn btn-default btn-lg" type="button" value="查询" @@click="sele()">
                    </div>
                </div>

            </form>
        </div>
        <div class="tables row">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>商品名称</th>
                        <th>拼英简码</th>
                        <th>条形码</th>
                        <th>单位</th>
                        <th>规格</th>
                        <th>颜色</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(t,index) in Products">
                        <td scope="row">
                            {{t.ProID}}
                        </td>
                        <td>{{t.ProName}}</td>
                        <td>
                            {{t.ProJP}}

                        </td>
                        <td>{{t.ProTM}}</td>
                        <td>{{t.PSName}}</td>
                        <td>{{t.PUName}}</td>
                        <td>{{t.PCName}}</td>
                        <td><a href="javascript:;" @@click="dl(t,index)">删除</a> | <a href="javascript:;" @@click="ShowPage(t)">修改</a></td>

                    </tr>
                    @*<tr>
                        <td scope="row">
                            1
                        </td>
                        <td>娃哈哈</td>
                        <td>
                            ddddfd

                        </td>
                        <td>151515151515</td>
                        <td>株洲市</td>
                        <td>wu</td>
                        <td>wu</td>
                        <td><a href="javascript:;">删除</a> | <a href="javascript:;" v-on:click="ShowPage(1)">修改</a></td>

                    </tr>
                    <tr>
                        <td scope="row">
                            1
                        </td>
                        <td>娃哈哈</td>
                        <td>
                            ddddfd

                        </td>
                        <td>151515151515</td>
                        <td>株洲市</td>
                        <td>wu</td>
                        <td>wu</td>
                        <td><a href="javascript:;">删除</a> | <a href="javascript:;" v-on:click="ShowPage(1)">修改</a></td>

                    </tr>*@
                </tbody>
            </table>
            <div align="center">
                <div id="test1"></div>
                @*<nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>*@
            </div>
        </div>
    </div>
</div>

<script>
        var app = new Vue({
        el: "#app",
        data: {
            Products: [],
            total: 0,
            ps: 3,
            pi: 1
        },
        created: function () {
            this.$http.get("http://localhost:8625/api/Basic/GetVw_DPP", { "params": { "ps": this.ps, "pi": this.pi } })
                .then(d => {
                    this.Products = d.data.data;
                    //this.ProductLend = d.data.data;
                    this.total = d.data.total;
                    console.log(d.data.data);
                })
            },
         methods: {

            dian: function (ps,pi) {
                this.$http.get("http://localhost:8625/api/Basic/GetVw_DPP", { "params": { "ps": ps, "pi": pi } })
                    .then(d => {
                        this.Products = d.data.data;
                        this.total = d.data.total;
                        console.log(ps+"---"+pi);
                    })
             },
             dl: function(t,index) {
                        this.$http.get("http://localhost:8625/api/Basic/DeluniversalModuelProducts/"+t.ProID+"",)
                            .then(d => {
                                if (d.data > 0) {
                                    this.Products.splice(index, 1);
                                }
                    })
             },
             ShowPage: function (t) {
                window.location.href = "/Basic/ProductEdit?id="+t.ProID+"";
             },
             ShowPages: function () {
                 window.location.href = "/Basic/ProductAdd";
             },
            sele: function () {
            var name = $('#exampleInputAmount').val();
                alert(name)
                this.$http.get("http://localhost:8625/api/Basic/GetVw_DPP", { "params": { "ps": this.ps, "pi": this.pi, "name": name } })
                    .then(d => {
                        //console.log(name)
                        console.log(d.data.data);
                    this.Products = d.data.data;
                    this.total = d.data.total;
                    console.log(this.ProductLend)
                })
            }
        }
        });
    $(function () {
        var laypage = layui.laypage;
        //执行一个laypage实例
        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            , count: app.total //数据总数，从服务端得到
            , limit: app.ps
            , limits: [1, 2, 3, 4, 5]
            , layout:['prev', 'page', 'next','limit','count','skip']
            , jump: function (obj, first) {
                //obj包含了当前分页的所有参数，比如：
                //console.log(obj.curr); 得到当前页，以便向服务端请求对应页的数据。
                //console.log(obj.limit); 得到每页显示的条数
                app.dian(obj.limit, obj.curr)
                //首次不执行
                if (!first) {
                    console.log("Layui-first");
                    //do something
                }
            }
        });
    });
</script>



